.type-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto);
    column-gap: 35px;
}

.type-container > li {
    display: flex;
    align-items: center;
}