

.border-solid {
    border: 2px solid black;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "menu menu content content content"
    "footer footer footer footer footer";
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    gap: 20px;
  }
  
  /*Header*/
  .container > div.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
  
  /*Menu*/
  .container > div.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
  }
  
  /*Content*/
  .container > div.content {
    grid-area: content;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /*Footer*/
  .container > div.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  