
.container {
  display: grid;
  grid-template-areas: 
  "menu header header header"
  "menu content content content"
  "menu footer footer footer";
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
}

.container > .header {
  grid-area: header;
  border: 1px solid black;
}

.container > .menu {
  grid-area: menu;
  border: 1px solid black;
}

.container > .content {
  grid-area: content;
  border: 1px solid black;
}

.container > .footer {
  grid-area: footer;
  border: 1px solid black;
}